body {
    font-family: 'Code New Roman', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}
@media (max-width: 767px) {
    /* 手机端字体样式 */
    body {
       font-family: "CodeNewRoman", sans-serif;
    }
 }